html {
    font-size: 20px;
}
html, body {
    height: 100%;
    min-height: 100%;
}

.container-fluid {
    min-height: 100%;
    padding-top: 5rem;
}
.mainContainer {
    min-height: 100%;
    padding-bottom: 5rem;
    padding-top: 2.5rem;
    background-color: #a9bbca;
}
.headerRow {
    
    
}
.headerSection {
    text-align: center;
    font-size: 2rem;
}

.bodySection {
    text-align: center;
    padding-top: 1rem;
}

.collapseBtns{
    min-width: 8rem;
    opacity: 20%;
} 

.sexy_line { 
    margin: 25px 0;
    height: 1px;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#a9bbca), to(#a9bbca), color-stop(50%, black));
}

.mainTabs{
    border-bottom: 1px solid #ddd;
    
}