body { 
background: url(bg.png) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
border:1px solid #d3d3d3;
}

.navbar {
	background-color: rgba(255, 255, 255, 0.7);
	margin-bottom: 0px;
}



.bordered {
	border:0.5px solid #d3d3d3;
	background-color: rgba(255, 255, 255, 0.7);
}